.vs/
bin/
obj/
packages
/Doc/.~lock.BitcoinNode.odg#
/Doc/~$BitcoinNode.pptx
/Doc/.~lock.BitcoinNode.odp#
/Doc/.~lock.Blockchain.odp#
/Doc/.~lock.BlockchainController.odp#
/DNSSeeds - Copy
/DNSSeeds_test
